@red: #722222;

body {
    margin: 0;
}

button {
    height: 32px;
}

.newContext {
    background: blue;
    position: fixed;;
    color:  white;
    left: 0;
    bottom:  200px;
}

.mouseCursor {
    position: fixed;
    top: 300px;
    left: -1000px;
    z-index: 9990;
    pointer-events: none;
    opacity: 0.8;
    font-family: Assistant;
    fill: #ccc;
    text {
        fill: #888;
        font-size: 15px;
    }
    &.hidden {
        display: none;
        left: -1000px;
    }
    &.black {
        opacity: 0.4;
        fill: black;
    }
    &.IllegalKO,
    &.Invalid,
    &.WaitTurn {
        opacity: 1;
        text {
            fill: darken(red, 15%);
            font-weight: bold;
            font-size: 16px;
        }
    }
}

.outterWrap {
    .liveGame {
        margin-top: 8px;
        padding: 8px 0 0;
        background: url('/assets/bg.png') 100px 100px;
        &.empty {
            padding-bottom: 10px;
        }
        input {
            min-width: 100px;
        }
        button {
            opacity: 1;
            margin-top:6px;
            border: 1px solid black;
            width: 102px;
            padding: 4px;
            cursor: pointer;
            transition: 300ms;
            border-radius: 4px;
            &:hover {
                background: #aaa;
            }
        }
        .fa-refresh {
            font-size: 18px;
            margin-left: 8px;
            &:hover {
                color: darken(red, 15%);
            }
        }
        label {
            cursor: pointer;
            font-size: 8px;
        }
        .liveGameList {
            margin-bottom: 0;
            margin-top: 10px;
            background: darken(#dbae6a, 30%);
            color: #eee;
            position: relative;
            float: left;
            padding-left: 2px;
            //padding-bottom: 0;
            overflow: hidden;
            li {
                border-top: 1px solid white;
                background: transparent;
                cursor: pointer;
                &:first-child {
                    border-top: none;
                }
                &.active {
                    //background: lighten(#dbae6a, 10%);
                    //color: black;
                    font-weight: bold;
                }
            }
        }
        label {
            &.bigger {
                font-size: 13px;
            }
        }
        .flex2 {
            display: flex;
            flex-direction: row;
            button {
                flex: 1;
                padding: 4px;
                margin: 0 4px 4px;
                height: 24px;
            }
        }
    }
}

.contextMenu {
    //background: #dcb373;
    background: url('/assets/bg.png') 100px 100px;
    position: fixed;
    z-index:10001;
    padding: 0px;
    left:  -1000px;
    box-shadow: 2px 2px 5px 2px #986;
    &.red {
        background: red;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            margin-bottom: 0px;
            cursor: pointer;
            padding: 8px 16px;
            //border-bottom: 1px solid #888;

            &:hover {
                transition: 300ms;
                background: lighten(#dcb373, 20%);
                text-decoration: underline;
                text-underline-position: under;
            }
            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
            }

            .fa {
                float: left;
                margin-right: 8px;
            }
            button {
                cursor: pointer;
                &.right{
                    float: right;
                    height: 22px;
                    margin-left: 2px;
                }
                margin: 0;
                border: 1px solid darken(#dcb373, 20%);
                &:first-child, &:last-child {
                    border-left:  none;
                    border-right: none;
                }
            }
            &.flex3 {
                display: flex;
                flex-direction: row;
                text-decoration: none;
                padding: 0;
                button {
                    background: url('/assets/bg.png') 100px 100px;
                    flex: 1;
                    font-size: 16px;
                    transition: 100ms ease-in;
                    &:hover {
                        background: darken(#dcb373, 30%);
                        color:  white;
                    }
                    .fa {
                        font-size: 20px;
                        margin: 0 3px;
                    }
                    .fa-angle-double-right,
                    .fa-angle-double-left {
                        font-size: 24px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

#canvases {
    position: absolute;
    left: 134px;
    top: 118px;
    //cursor: url('../../assets/images/white_circle.jpg');
}

#canvases #mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
}

#canvases #gridCanvas {
    background: url('/assets/bg.png');
}

@media only screen and (max-width: 540px) {
    #canvases {
        position: relative;
        left: 0;
        top: 0;
    }
}

#canvases #mainCanvas { background: transparent; }

.outterWrap {
    margin: 8px;
    padding: 4px;
    width: 112px;
    background: #ddd;
    &.buttons {
        background: url('/assets/bg.png') 100px 100px;
        hr {
            opacity: 0;
            margin: 0;
        }
        button {
            border: none;
        }
    }
    &.plain {
        background: transparent;
        margin: 0px 4px;
        width: 120px;
    }
    >div {
        width: 100%;
        float: left;
    }

    .label {
        font-family: monospace;
        font-size: 12px;
        margin-bottom: -2px;
        text-align: left;
        &.big {
            margin-bottom: -30px;
            margin-top: 16px;
        }
    }

    label {
        font-style: italic;
        font-size: 12px;
    }

    button {
        width: 100%;
        font-size: 12px;
        padding: 3px 0;
        background: transparent;
        opacity: 0.4;
        &.active {
            opacity: 1;
            font-weight: bold;
        }
        i.fa {
            font-size: 18px;
            font-weight: bold;
            &.fa-close {
                font-size: 12px;
            }
        }
        .tooltiptext {
            font-family: lato;
            font-size: 12px;
        }
    }

    input {
        width: 32px;
        &.gameSearch {
            width: 104px;
        }
    }

    #white,
    #black {
        width: 36px;
        height: 36px;
        background: black;
        border-radius: 50%;
        margin: 0 0 8px 6px;
        float: left;
        font-family: monospace;
        span {
            &.fixed {
                text-decoration: underline;
            }
        }
    }
    #white {
        background: white;
        margin-left: 32px;
    }
    .selected {
        .pos { 
            >div {
                span {
                    display: none;
                    color: red;
                    padding: 10px 0 0 0;
                    font-size: 16px;
                    font-family: monospace;
                    font-weight: normal;
                    margin: 0;
                    text-align: center;
                }
                &.active span {
                    display: block;
                }
            }
        }
        #lastPos {
            font-family: monospace;
            width: 48px;
            height: 48px;
            text-align: center;
            font-size: 20px;
            color: red;
            background: black;
            padding: 0;
            border-radius: 50%;
            line-height: 50px;
            margin: 4px 0 0 50px;
            float: none;
        }
    }
}

.twoFlex {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    position: relative;
    button {
        flex: 1;
    }
}

.collapse {
    height: 26px;
    position: relative;
    overflow: hidden;
    padding-top: 8px;
    background: url('/assets/bg.png') 100px 100px;

    i {
        margin: 2px 0 0 0;
        &.fa {
            font-size: 18px;
            margin: 4px 4px 0 4px;
            &:first-child {
                margin-left: 2px;
            }
        }
        &.tooltip {
            width: auto;
            z-index: 20001;
            .tooltiptext {
                z-index: 20001;
                font-family: lato;
                font-size: 12px;
            }
        }
    }


    label {
        font-size: 12px;
        display: block;
        float: left;
        margin-right: 2px;
        margin-left:  0px;
        min-width: 18px;
        width: auto;

        .tooltiptext {
            z-index: 20001;
            font-family: lato;
            font-size: 12px;
            left: -10px;
            font-style: normal;
        }
    }

    #hideNumbersIcon {
        font-size: 12px;
        color: black;
        color: darken(red, 20%);
        font-weight: bold;
        border: 1px solid #999;
        padding: 6px 3px;
        border-radius: 50%;
        margin-top: -3px;
        width: 24px;
    }

    #boardSize {
        float:  right;
        font-size: 16px;
        border: 1px solid #555;
        padding: 2px;
    }

    &:hover {
        overflow: visible;
        //background: #eef;
        >div {
            //background: #eef;
            transition: 300ms;
            opacity: 1;
            max-width: auto;
            min-width: 200px;
        }
    }
}

.baasList {
    padding-top: 12px;
    ul {
        margin-top: 8px;
        position: relative;
        float: left;
        display:block;
        color: black;
        padding: 0;
        max-height: 168px;
        max-width: 120px;
        background: #5c3535;
        overflow-y: hidden;
        //overflow-y: auto;
        &:hover {
            transition: 500ms ease-in;
            max-width: 90vh;
            z-index: 10000;
            overflow-y: auto;
            button {
                transition-delay: 100ms;
                opacity: 1;
                margin-right: 8px;
                width: 24px;
            }
            box-shadow: 2px 2px 5px 2px #986;
        }
        &.searchedGames {
            max-height: 88px;
        }
        li {
            white-space: nowrap;
            font-size: 12px;
            padding: 4px;
            //background: #333;
            background: url('/assets/bg.png') 100px 100px;
            margin-top: 2px;
            list-style: none;
            cursor: pointer;
            text-align: left;
            letter-spacing: 1.2px;
            &:first-child {
                margin-top: 0;
            }

            &:hover {
                background: lighten(#ddae6a, 20%);
                color: black;
            }
            &.active {
                background: darken(#ddae6a, 30%);
                color: white;
                &:hover {
                    background: darken(#ddae6a, 25%);
                }
            }
            label {
                padding-top: 4px;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            button {
                width: 0px;
                height: 24px;
                color: darken(red, 15%);
                opacity: 0;
                &:hover {
                    background: #ccc;
                    margin-right: 32px;
                }
                .fa {
                    padding: 4px;
                }
            }
            &.flexRow {
                display: flex;
                >* {
                    cursor: pointer;
                }
            }
        }
    }
}

//textarea
.dropArea {
    float:  left;
    width:  108px;
    height: 80px;
    margin-left: 8px;
    background:  #fff;
    border: 4px solid #d9af67;
    background: lighten(#d9af67, 24%);
    overflow: hidden;
}

@media only screen and (max-width: 540px) {
    .selected { display: flex; }
    .selected .wrap { flex: 1 }

    .selected  #black,
    .selected  #white { 
        margin-left: 4px;
        width: 32px;
        height: 32px;
        padding: 6px 8px 10px 8px;
        margin-bottom: 0;
    }

    .selected  #lastPos { 
        margin: 0px 0 4px 50px;
    }

    .selected .wrap .label {
        margin: 16px 8px 0px 4px;
        float: left;
    }

    .outterWrap {
        width: 100%;
        .narrowFlex {
            display: flex;
            button {
                flex: 1;
            }
        }
    }

    button {
        height: 42px;
    }
}

