@green: #456945;
@red: #722222;
@fontSize: 14px;

.Login {
    padding: 0 10px 0 0;
    .attempt {
        color: lighten(@green, 25%);
    }
    form {
        margin: 0 auto;
        //max-width: 1320px;
        input {
            font-size: @fontSize; 
            margin: 0 10px 0 0px;
        }
        .form-group {
            float: left;
            position: relative;
            display: block;
            @media all and (max-width: 680px) {
                float:left;
                clear: both;
            }
        }

    }
    button {
        height: 24px;
        font-size: @fontSize + 2px;
        background: darken( @green, 1%);
        color: #eee;
        border: none;
        border-radius: 2px;

        @media all and (max-width: 680px) {
            margin-top: 16px;
        }
    }

    label {
        margin: 0 10px 0 0;
        font-size: @fontSize;
        @media all and (max-width: 680px) {
            min-width: 120px;
            display: inline-block;
        }
        span {
            color: lighten(@green, 30%);
            font-size: 16px;
        }
    }

}

.home {
    position: absolute;
    top: 20px;
    left: 20px;;
    a {
        cursor: pointer;
        color: lighten(@green, 15%);
        float: left;
        &:hover {
            transition: 300ms;
            color: lighten(@red, 15%);
        }
    }
    div {
        float: left;
        margin: 0px 0 0 18px;
        font-size: 24px;
        font-family: 'Indie Flower', cursive;
        letter-spacing: 1.2px;
        color: lighten(@green, 15%);
    }
    .myName {
        float: right;
        @media all and (max-width: 848px) {
            margin-top: 4px;
            font-size: 20px;
            color: lighten(@green, 25%);
        }
        @media all and (max-width: 808px) {
            margin-top: 8px;
            font-size: 16px;
        }
        @media all and (max-width: 772px) {
            display: none;
        }
        &:hover {
            color: lighten(@red, 25%);
        }
    }

    .fa-home {
        font-size: 32px;
    }
}
.loggedIn {
    font-size: 16px;
    &.failed {
        color: lighten(red, 30%);
    }
}
