@red: #722222;
@green: #456945;

@progressShift: -46px;
@progressShiftNarrow: -40px;

@hugeFont: 240px;
@hugeFontNarrow: 168px;

@bigFontSize: 52px;
@bigFontSizeNarrow: 28px;

@iconFontSize: 48px;
@iconFontSizeNarrow: 32px;

.clock {
    margin: 4px;
    background: #425459;
    button {
        margin: 20px;
        font-size: @bigFontSize;
        display: inline-block;
        height: auto;
        cursor: pointer;
    }

    input {
        font-size: @bigFontSize;
        width: 92px;
        text-align: center;
    }
    label {
        font-size: @bigFontSize;
        margin-top: -10px;
        color: #ccc;
    }

    >div {
        font-size: @hugeFont;
        font-family: monospace;
        .digits {
            position: relative;
            background: #eee;

            width:  370px;
            height: 330px;

            margin: 20px auto 0;
            padding-top: 30px;
            border: 8px solid transparent;
            border-radius: 50%;

            cursor: pointer;
            user-select: none;

            .tens {
                font-size: 48px;
                margin-left: -28px;
            }

            .mins {
                font-size: 64px;
                color: darken(@green,10%);
            }

            &.extended {
                color: lighten(@red, 10%);
            }
            &.paused {
                border: 8px solid #ddd;
                span {
                    opacity: 0.2;
                }
            }

            &.hasMinutes {
                transition: 300ms;
                width: 536px;
                border-radius: 30%;
            }

            &:hover {
                transition: 300ms ease-in;
                background: #ccc;
            }
            .shadow,
            .progress {
                position: absolute;
                width: 10px;
                bottom: 0;
                left: @progressShift;
                background: #ddd;
                pointer-events: none;
                &.extended {
                    background: lighten(@red, 20%);
                    border: 1px solid lighten(@red, 20%);
                    left: auto;
                    right: @progressShift;
                }
                
            }
            .shadow {
                height: 100%;
                width: 9px;
                background: transparent;
                border: 1px solid #ccc;
                &.extended {
                    background: transparent;
                    left: auto;
                    right: @progressShift;
                }
            }
            .fa-bomb {
                font-size: 240px;
                color: @red;
            }
        }
    }

    .fa-hourglass-end,
    .fa-hourglass-start,
    .fa-volume-off,
    .fa-volume-up {
        width: @iconFontSize;
    }

    @media only screen and (max-width: 580px) {
        button, input, label { font-size: @bigFontSizeNarrow; }
        button {    
            margin: 12px 0px;
        }
        input, label {
            margin: 0 4px;
        }
        >div {
            font-size: @hugeFontNarrow;
            .digits {
                width:  270px;
                height: 220px;
                margin: 12px auto 0;
                &.hasMintues { 
                    width: 300px; 
                    font-size: 140px;
                    height: 192px;
                }

                .fa-bomb { font-size: 172px; }
                .tens {
                    font-size: @bigFontSizeNarrow;
                    margin-left: -18px;
                }
                .progress, .shadow {
                    left: @progressShiftNarrow + 3px;
                    &.extended { right : @progressShiftNarrow + 3px};
                }
            }

            .tooltiptext { bottom: 20px; }
        }
        .tooltiptext.up {
           width: 80px;
           font-size: 12px;
           left: calc(~'50% - 40px');
           padding: 4px;
           bottom: -32px !important;
        }
        .fa-hourglass-end, .fa-hourglass-start, .fa-volume-off, .fa-volume-up {
            width: @iconFontSizeNarrow;
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
    //display: block;
    /* Tooltip text */
    .tooltiptext {
        font-size: 14px;
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        left: calc(~'50% - 60px');
        bottom: 40px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        &.up {
            bottom: -36px;
        }
        pointer-events: none;
    }
    /* Show the tooltip text when you mouse over the tooltip container */
    &:hover .tooltiptext {
        visibility: visible;
    }
}

