@red: #722222;
@green: #456945;

.App {
  text-align: center;
  margin-bottom: 70px;
}

.App-header {
    background-color: #282c34;
    min-height: 52px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10px 4px;

}

.subMenu,
.menu {
    display: grid;

    grid-auto-flow: column;
    grid-gap: 3px;

    padding: 3px 4px 4px;
    margin: 0;
    background: #555;
    li {
        list-style: none;
        background: #333;
        padding: 4px 0;
        //margin: 2px;

        a {
            color: white;
            font-size: 18px;
            color: lighten(@green, 30%);
            tansition: font-size 400ms ease-in;
            @media all and (max-width: 532px) {
                font-size: 15px;
            }
            &:hover {
                color: lighten(@red, 30%);
            }
            &.active {
                color: lighten(@red, 40%);
                font-size: 20px;
                text-decoration: none;
                @media all and (max-width: 532px) {
                    font-size: 20px;
                }
            }
        }
    }
}

.subMenu {
    li {
        flex: 1;
        list-style: none;
        background: #444;
        padding: 4px;
        margin: 6px 3px 3px 0;
        min-height: 20px;
        &:first-child { margin-left: 6px; }
        a {
            color: white;
            font-size: 14px;
            color: lighten(@green, 30%);
            tansition: font-size 400ms ease-in;
            @media all and (max-width: 532px) {
                font-size: 12px;
            }
            &:hover {
                color: lighten(@red, 30%);
            }
            &.active {
                color: lighten(@red, 40%);
                font-size: 16px;
                text-decoration: none;
                @media all and (max-width: 532px) {
                    font-size: 12px;
                }
            }
        }
        margin: 0px 6px 6px 0;
    }
}

.content {
    .twoCols {
        display: flex;
        &.headings {
            >div {
                background: #eee !important;
                color: black !important;
                font-size: 20px;
                color: white;
                text-align: center;
                grid-template-columns: auto !important;
                span {
                    font-size: 12px;
                    &.total {
                        font-size: 15px;
                    }
                }
                position: relative;
                i {
                    &.fa-refresh {
                        position: absolute;
                        right: 14px;
                        top: 14px;
                        cursor: pointer;
                    }
                }
            }
        }

        #store,
        #cart {
            padding: 5px;
            flex: 1;
            background: @red;
            float: left;
            flex-wrap: wrap;
            margin: 10px 10px 0 10px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
            align-items: center;
            .box {
                &:hover {
                    transition: 200ms ease-in;
                    filter: sepia(50%);
                }
                width: auto;
                float: left;
                margin: 4px;
                background: lighten(@red, 20%);
                position: relative;
                max-height: 232px;
                cursor: pointer;
                &.out {
                    opacity: 0.3;
                }
                h2 {
                    font-size: 14px;
                    text-align: center;
                }
                p {
                    text-align: center;
                }
                .delete {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    font-size: 20px;
                    background: lighten(@green, 10%);
                    padding: 0 8px 4px 10px;
                    border-bottom-left-radius: 4px;
                }
                &.info {
                    min-height: 100px;
                    white-space: pre;
                    span {
                        margin: 8px;
                        display: inline-block;
                    }
                }
                color: #eee;
                span {
                    color: #eee;
                }

            }

            span {
                color: #555;
                letter-spacing: 0.7px;
            }
            img {
                border: 10px solid black;
                margin: 10px auto 0;
                display: block;
                max-width : 120px;
            }
        }

        #store {
            flex: 1;
            background: @green;
            margin-right: 0;
            .box {
                background: lighten(@green, 10%);
            }
        }

        #cart {
            @media all and (max-width: 832px) {
                display:block;
                .box {
                    float: none;
                }
            }
        }
    }

    .beforeLogin {
        span {
            font-weight: bold;
            font-size: 20px;
            color: darken(@green, 15%);
        }
    }
}

.info {
    margin-top: 20px;
    padding: 12px;
    font-size:24px;
    transition: 300ms;
    @media all and (max-width: 580px) {
        margin-top: 10px;
        padding: 0px;
    }
    font-family: lato;
    h3 {
        white-space: normal;
        font-family: lato;
        letter-spacing: 0.8px;
    }
    h4 {
        font-family: lato;
        font-size: 16px;
        color: #555;
        display: block;
        white-space: normal;
        line-height: 26px;
        letter-spacing: 0.8px;
        .nowrap {
            white-space: nowrap;
            a {
                color: #555;
            }
        }
    }
    >div {
        background: #eee;
        max-width: 80%;
        margin: 16px 10%;
        padding: 20px 5%;
        box-shadow: inset 3px 3px 21px 3px #ddd;
        @media all and (max-width: 580px) {
            margin: 0px 2%;
            max-width: 94%;
            &:last-child {
                margin-top: 8px;
            }
        }
        span {
            font-family: lato;
            font-size:16px;
            letter-spacing: 0.7px;
            color: @green;
        }
        a {
            text-underline-position: under;
            transition: 400ms;
            &:hover {
                font-weight: bold;
                color: @red;
            }
        }
    }
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: #282c34;
    width: 100%;
    .linkWrap {
        width: 100%;
        padding: 20px;
        text-align: center;
        a {
            color: #ddd;
            cursor: pointer;
            font-size: 20px;
            transition: 200ms ease-in;
            text-decoration: underline;
            text-underline-position: under;
            &:hover {
                text-decoration: none;
                color: lighten(green, 20%);
                font-size: 22px;
            }
        }
    }
}
